.App {
  background-color: #121313; /* Replace with your desired color code or name */
  min-height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
