.App {
  background-color: #121313; /* Replace with your desired color code or name */
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}