/* FavouritesButton.css */
.FavouritesButton {
    background-color: rgba(18, 19, 19, 0);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
    padding: 5px 5px; /* Adjust the padding as needed */
    font-size:1.5em; 
    margin-left: 5em;
    position: absolute;
    bottom: 20%;
}
.FavouritesButton:hover {
    color: red; /* Change background color on hover */
  }

  .FavouritesButton.pressed {
    color: red; /* Change this to the color you want when pressed */
  }