/* NewQuoteButton.css */
.FavouritesButton {
    background-color: #121313;
    color: #f1e7ea;
    border: none;
    cursor: pointer;
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
    padding: 5px 5px; /* Adjust the padding as needed */
    font-size:1.5em; 
    margin-left: 3em;
    position: absolute;
    top: 26.7em;
    transition: background-color 0.5s;
}
.FavouritesButton:hover {
    color: rgb(69, 121, 173); /* Change background color on hover */
  }