/* NewQuoteButton.css */
  .NewQuoteButton {
    background-color: rgba(18, 19, 19, 0);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
    padding: 5px 5px; /* Adjust the padding as needed */
    font-size:1.5em; 
    margin-right: 3em;
    position: absolute;
    bottom: 25%;
}
.NewQuoteButton:hover {
   color: rgb(69, 121, 173); /* Change background color on hover */
  }