/* NewQuoteButton.css */
  .NewQuoteButton {
    background-color: #121313;
    color: #f1e7ea;
    border: none;
    cursor: pointer;
    width: 1.5em; /* Adjust the width as needed */
    height: 1.5em; /* Adjust the height as needed */
    padding: 5px 5px; /* Adjust the padding as needed */
    font-size:1.5em; 
    margin-right: 3em;
    position: absolute;
    bottom: 25%;
    transition: background-color 0.5s;
}
.NewQuoteButton:hover {
   color: rgb(69, 121, 173); /* Change background color on hover */
  }