/* QuoteContainer.css */
.QuoteContainer {
    position: absolute;
    background-color: rgba(18, 19, 19, 0); /*#33BEC8; /* Replace with your desired color code or name */
    border-radius: 8px;
    text-align: center;
    word-wrap: break-word;
    width: auto;   /* Adjusted to 'auto' for dynamic width */
    height: 30%;
    padding: 1em;
    font-size: 100%;
}
.QuoteText {
    font-family: 'Helvetica', sans-serif;
    font-size: 100%;
    margin-bottom: 2%;
    color: #FFFFFF;/*'#E20D53'*/
}∂
.QuoteText i{
    margin-right: 0.3em; 
    margin-left: 0.3em; 
}
.QuoteAuthor {
    font-family: 'Helvetica', sans-serif;
    font-size: 100%;
    margin-bottom: 20%;
    color: #FFFFFF;
}
.fa-quote-left{
    font-size: 100%;
    color: #FFFFFF;
}
.fa-quote-right{
    font-size: 100%;
    color: #FFFFFF;

}