/* SignInButton.css */
.SignInSignOut {
    background-color: rgb(19, 39, 59);
    left: 0%;
    top: 0%;
    cursor: pointer;
    width: 0em;
    height:0em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.5s ease;
    position: absolute;
}
.SignInSignOutButton{
    
    left: 0%;
    top: 0%;
    width: 0em;
    height: 0em;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;  
    color: #FFFFFF;
    z-index: 1;
    background: none;
    border: none;
    padding: 0;
}
.SignInSignOut.open {
    left: inherit;
    top: 8.8%;
    right: 3.8%;
    width: 4em;
    height: 1.8em;
    border-radius: 10px;
    background-color: rgb(19, 39, 59);
  }
  .SignInSignOutButton.open {
    width: 4.1em;
    height: 1.8em;
    border-radius: 10px;
    background-color: rgb(19, 39, 59);
  }
.SignInSignOutButton:hover, .SignInSignOut:hover {
    color: rgb(69, 121, 173); /* Change background color on hover */
   }